In [4]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import pandas_datareader.data as web

df = pd.read_excel('samplestock.xlsx')

In [5]:
df

  Acquisition Date Ticker  Quantity  Unit Cost  Cost Basis Start of Year
0       2013-02-07   AAPL       125      65.40     8175.00    2017-12-29
1       2014-02-27    JNJ       100      81.90     8190.00    2017-12-29
2       2013-06-04    MCD       100      84.99     8499.00    2017-12-29
3       2015-12-14   MTCH       600      13.63     8178.00    2017-12-29
4       2016-01-14   NFLX        75     108.71     8153.25    2017-12-29
5       2013-08-14    WMT       125      68.30     8537.50    2017-12-29
6       2013-12-13     FB       150      53.32     7998.00    2017-12-29
7       2015-01-05   TWTR       225      36.38     8185.50    2017-12-29

In [6]:
tickers = df['Ticker'].unique()

In [14]:
startdate = datetime.datetime(2013, 1,1)
enddate = datetime.datetime(2018, 2, 1)

def getStockData(tickers, startdate, enddate):
    return web.DataReader(tickers, 'yahoo', start = startdate, end = enddate)
    

    
stockdata = getStockData(tickers, startdate, enddate)

In [15]:
stockdata = web.DataReader(tickers, 'yahoo', start = startdate, end = enddate)

Attributes        High                                                 \
Symbols           AAPL          FB         JNJ         MCD       MTCH
Date
2012-12-31   76.485718   26.990000   70.110001   88.250000        NaN
2013-01-02   79.285713   28.180000   71.019997   90.349998        NaN
2013-01-03   78.524284   28.469999   71.000000   90.699997        NaN
2013-01-04   76.947144   28.930000   71.730003   90.790001        NaN
2013-01-07   75.614288   29.790001   71.529999   91.050003        NaN
2013-01-08   75.984283   29.600000   71.650002   90.959999        NaN
2013-01-09   75.001427   30.600000   71.849998   91.239998        NaN
2013-01-10   75.531425   31.450001   72.379997   91.639999        NaN
2013-01-11   75.045715   31.959999   72.580002   91.980003        NaN
2013-01-14   72.500000   32.209999   72.790001   92.120003        NaN
2013-01-15   71.284286   31.709999   72.440002   91.629997        NaN
2013-01-16   72.777145   30.350000   72.820000   91.320000        NaN
2013-01-17   72.964287   30.420000   73.010002   92.099998        NaN
2013-01-18   71.745712   30.440001   73.230003   92.300003        NaN
2013-01-22   72.554283   30.889999   73.209999   93.330002        NaN
2013-01-23   73.570000   31.500000   72.910004   93.750000        NaN
2013-01-24   66.532860   31.490000   73.230003   93.599998        NaN
2013-01-25   65.175713   31.930000   73.930000   93.940002        NaN
2013-01-28   64.744286   32.509998   74.000000   94.580002        NaN
2013-01-29   65.742859   32.070000   74.620003   94.989998        NaN
2013-01-30   66.085716   31.490000   74.800003   95.099998        NaN
2013-01-31   65.611427   31.469999   74.360001   95.290001        NaN
2013-02-01   65.639999   31.020000   74.419998   96.320000        NaN
2013-02-04   65.134285   29.200001   74.250000   95.790001        NaN
2013-02-05   65.677139   28.959999   74.820000   95.540001        NaN
2013-02-06   66.642860   29.290001   75.389999   95.330002        NaN
2013-02-07   67.142860   29.150000   75.199997   95.059998        NaN
2013-02-08   68.401428   29.170000   75.610001   95.480003        NaN
2013-02-11   69.277145   28.680000   75.500000   95.309998        NaN
2013-02-12   68.911430   28.160000   75.860001   95.339996        NaN
...                ...         ...         ...         ...        ...
2017-12-19  175.389999  180.080002  142.380005  174.899994  31.660000
2017-12-20  175.419998  179.809998  142.580002  173.880005  31.860001
2017-12-21  176.020004  178.679993  142.169998  172.750000  32.060001
2017-12-22  175.419998  177.529999  141.350006  172.039993  32.029999
2017-12-26  171.470001  177.000000  140.539993  171.639999  31.910000
2017-12-27  170.779999  178.440002  141.149994  172.740005  32.150002
2017-12-28  171.850006  178.940002  141.000000  173.550003  31.690001
2017-12-29  170.589996  178.850006  141.210007  172.979996  31.610001
2018-01-02  172.300003  181.580002  139.949997  174.479996  32.650002
2018-01-03  174.550003  184.779999  140.679993  173.639999  33.080002
2018-01-04  173.470001  186.210007  141.139999  174.130005  32.492001
2018-01-05  175.369995  186.899994  141.820007  175.000000  32.160000
2018-01-08  175.610001  188.899994  142.000000  174.210007  32.189999
2018-01-09  175.059998  188.800003  145.679993  174.229996  32.369999
2018-01-10  174.300003  187.889999  144.160004  174.000000  32.240002
2018-01-11  175.490005  188.399994  144.899994  174.550003  32.305000
2018-01-12  177.360001  181.479996  146.419998  173.789993  32.700001
2018-01-16  179.389999  181.750000  148.059998  174.410004  33.080002
2018-01-17  179.250000  179.320007  148.320007  175.690002  31.700001
2018-01-18  180.100006  180.979996  147.440002  175.449997  31.620001
2018-01-19  179.580002  182.369995  147.649994  176.639999  32.660000
2018-01-22  177.779999  185.389999  148.139999  176.830002  33.950001
2018-01-23  179.440002  189.550003  147.440002  177.750000  34.610001
2018-01-24  177.300003  190.660004  143.559998  177.300003  34.750000
2018-01-25  174.949997  188.619995  144.660004  176.619995  34.320000
2018-01-26  172.000000  190.000000  145.600006  178.399994  34.740002
2018-01-29  170.160004  188.839996  144.940002  178.699997  35.279999
2018-01-30  167.369995  188.179993  143.820007  177.669998  35.029999
2018-01-31  168.440002  189.830002  142.570007  174.300003  35.404999
2018-02-01  168.619995  195.320007  140.669998  173.539993  35.509998

Attributes                                            Low              ...  \
Symbols           NFLX       TWTR         WMT        AAPL          FB  ...
Date                                                                   ...
2012-12-31   13.357142        NaN   68.300003   72.714287   26.110001  ...
2013-01-02   13.687143        NaN   69.239998   77.375717   27.420000  ...
2013-01-03   13.988571        NaN   69.349998   77.285713   27.590000  ...
2013-01-04   13.958571        NaN   69.180000   75.118568   27.830000  ...
2013-01-07   14.535714        NaN   68.919998   73.599998   28.650000  ...
2013-01-08   14.427143        NaN   68.889999   74.464287   28.860001  ...
2013-01-09   13.992857        NaN   68.709999   73.712860   29.490000  ...
2013-01-10   14.274285        NaN   69.029999   73.645714   30.280001  ...
2013-01-11   14.560000        NaN   68.790001   74.145714   31.100000  ...
2013-01-14   14.928572        NaN   68.669998   71.215714   30.620001  ...
2013-01-15   14.908571        NaN   69.239998   69.054283   29.879999  ...
2013-01-16   14.614285        NaN   69.370003   70.357140   29.530001  ...
2013-01-17   14.085714        NaN   69.320000   71.718575   30.030001  ...
2013-01-18   14.562857        NaN   69.199997   70.914284   29.270000  ...
2013-01-22   14.235714        NaN   69.650002   70.947144   29.740000  ...
2013-01-23   14.832857        NaN   69.639999   72.110001   30.799999  ...
2013-01-24   21.309999        NaN   69.989998   64.321426   30.809999  ...
2013-01-25   24.668571        NaN   70.000000   62.142857   31.129999  ...
2013-01-28   25.321428        NaN   69.500000   62.265713   31.809999  ...
2013-01-29   24.268572        NaN   70.199997   64.588570   30.709999  ...
2013-01-30   25.071428        NaN   70.120003   64.928574   30.879999  ...
2013-01-31   24.142857        NaN   70.440002   64.997147   28.740000  ...
2013-02-01   24.714285        NaN   70.540001   64.050003   29.629999  ...
2013-02-04   25.018572        NaN   69.900002   63.142857   28.010000  ...
2013-02-05   25.412857        NaN   71.070000   63.174286   28.040001  ...
2013-02-06   26.478571        NaN   71.320000   64.654289   28.660000  ...
2013-02-07   26.982857        NaN   71.639999   64.874283   28.270000  ...
2013-02-08   26.280001        NaN   71.639999   66.892860   28.510000  ...
2013-02-11   26.007143        NaN   71.510002   67.607140   28.040001  ...
2013-02-12   26.222857        NaN   71.660004   66.820000   27.100000  ...
...                ...        ...         ...         ...         ...  ...
2017-12-19  190.300003  25.490000   99.910004  174.089996  178.220001  ...
2017-12-20  189.110001  25.440001   99.650002  173.250000  177.360001  ...
2017-12-21  190.949997  25.559999   99.330002  174.100006  177.050003  ...
2017-12-22  190.949997  25.270000   98.419998  174.500000  176.229996  ...
2017-12-26  189.940002  24.570000   99.440002  169.679993  174.669998  ...
2017-12-27  188.100006  24.540001   99.599998  169.710007  176.259995  ...
2017-12-28  194.490005  24.600000   99.620003  170.479996  177.679993  ...
2017-12-29  193.949997  24.330000   99.690002  169.220001  176.460007  ...
2018-01-02  201.649994  24.570000   99.790001  169.259995  177.550003  ...
2018-01-03  206.210007  24.680000  100.000000  171.960007  181.330002  ...
2018-01-04  207.050003  24.590000   99.779999  172.080002  184.100006  ...
2018-01-05  210.020004  24.570000  100.379997  173.050003  184.929993  ...
2018-01-08  212.500000  24.780001  101.750000  173.929993  186.330002  ...
2018-01-09  212.979996  24.709999  102.349998  173.410004  187.100006  ...
2018-01-10  213.639999  24.420000   99.889999  173.000000  185.630005  ...
2018-01-11  217.750000  24.370001  100.449997  174.490005  187.380005  ...
2018-01-12  222.550003  25.850000  101.440002  175.649994  177.399994  ...
2018-01-16  226.070007  25.709999  101.910004  176.139999  178.039993  ...
2018-01-17  221.149994  24.950001  102.940002  175.070007  175.800003  ...
2018-01-18  220.580002  24.520000  104.940002  178.250000  177.080002  ...
2018-01-19  223.490005  24.219999  104.930000  177.410004  180.169998  ...
2018-01-22  227.789993  23.500000  105.449997  176.600006  180.410004  ...
2018-01-23  257.709991  23.170000  106.150002  176.820007  185.550003  ...
2018-01-24  261.709991  23.049999  106.440002  173.199997  186.520004  ...
2018-01-25  272.299988  22.680000  106.809998  170.529999  186.600006  ...
2018-01-26  274.600006  24.350000  108.410004  170.059998  186.809998  ...
2018-01-29  286.809998  25.549999  109.980003  167.070007  185.630005  ...
2018-01-30  282.730011  26.400000  109.360001  164.699997  181.839996  ...
2018-01-31  282.290009  26.650000  108.180000  166.500000  185.220001  ...
2018-02-01  271.950012  27.330000  106.559998  166.759995  187.889999  ...

Attributes      Volume               Adj Close                          \
Symbols           TWTR         WMT        AAPL          FB         JNJ
Date
2012-12-31         NaN   7012500.0   67.190933   26.620001   58.541477
2013-01-02         NaN  10390800.0   69.319641   28.000000   59.159470
2013-01-03         NaN   8910100.0   68.444672   27.770000   59.075939
2013-01-04         NaN   6438000.0   66.538162   28.760000   59.752388
2013-01-07         NaN   6201400.0   66.146751   29.420000   59.627125
2013-01-08         NaN   5866900.0   66.324783   29.059999   59.635471
2013-01-09         NaN   5055200.0   65.288208   30.590000   59.902706
2013-01-10         NaN  11453800.0   66.097511   31.299999   60.286865
2013-01-11         NaN   6224500.0   65.692223   31.719999   60.420483
2013-01-14         NaN   5490400.0   63.350147   30.950001   60.595856
2013-01-15         NaN   6140400.0   61.351456   30.100000   60.437180
2013-01-16         NaN   4917900.0   63.898102   29.850000   60.612572
2013-01-17         NaN   7232600.0   63.467560   30.139999   60.879795
2013-01-18         NaN   7813400.0   63.129196   29.660000   61.155373
2013-01-22         NaN   5747900.0   63.731434   30.730000   60.704411
2013-01-23         NaN   6365400.0   64.898071   30.820000   60.838039
2013-01-24         NaN   9139000.0   56.879379   31.080000   61.046814
2013-01-25         NaN   7967700.0   55.538528   31.540001   61.731609
2013-01-28         NaN   7054800.0   56.794800   32.470001   61.481079
2013-01-29         NaN   9560900.0   57.860420   30.790001   62.140827
2013-01-30         NaN   7020600.0   57.678608   31.240000   61.873585
2013-01-31         NaN   7016200.0   57.509426   30.980000   61.731609
2013-02-01         NaN   6449800.0   57.273327   29.730000   61.948723
2013-02-04         NaN  10759300.0   55.846603   28.110001   61.890285
2013-02-05         NaN  10525500.0   57.806129   28.639999   62.349579
2013-02-06         NaN   9757800.0   57.744255   29.049999   62.959232
2013-02-07         NaN   8306900.0   59.461220   28.650000   62.683613
2013-02-08         NaN   5906600.0   60.319698   28.549999   63.034397
2013-02-11         NaN   6202600.0   60.948330   28.260000   62.975933
2013-02-12         NaN   4762000.0   59.420586   27.370001   63.301636
...                ...         ...         ...         ...         ...
2017-12-19  46040800.0  12012200.0  170.567154  179.509995  136.194611
2017-12-20  20687700.0  10729800.0  170.381485  177.889999  135.599060
2017-12-21  19597700.0   7369100.0  171.026459  177.449997  135.502991
2017-12-22  16112900.0   5478700.0  171.026459  177.199997  134.600006
2017-12-26  10123100.0   4295900.0  166.687531  175.990005  134.571167
2017-12-27   9118100.0   5140800.0  166.716858  177.619995  135.032303
2017-12-28   9774700.0   9763900.0  167.185913  177.919998  135.022675
2017-12-29  10393700.0   7144300.0  165.378021  176.460007  134.215775
2018-01-02  15297200.0  10150500.0  168.339050  181.419998  133.745071
2018-01-03  12832600.0   8903600.0  168.309738  184.669998  135.022675
2018-01-04  17653500.0   6830400.0  169.091522  184.330002  135.013062
2018-01-05  14953200.0   7284000.0  171.016678  186.850006  136.127396
2018-01-08  17831300.0   8843900.0  170.381485  188.279999  136.300293
2018-01-09  12587100.0   7312700.0  170.361954  187.869995  138.461624
2018-01-10  10420700.0   7930400.0  170.322845  187.839996  138.298340
2018-01-11  11670400.0   6537700.0  171.290329  187.770004  139.086044
2018-01-12  37046100.0   6951200.0  173.059113  179.369995  140.017822
2018-01-16  32340700.0   7170700.0  172.179611  178.389999  141.074509
2018-01-17  17006600.0   8610600.0  175.023361  177.600006  141.189758
2018-01-18  21118500.0  12307900.0  175.179718  179.800003  141.132126
2018-01-19  17529700.0   8378600.0  174.397949  181.289993  141.554794
2018-01-22  23010600.0   7308300.0  172.971176  185.369995  142.304077
2018-01-23  35321200.0   8287800.0  173.010254  189.350006  136.242630
2018-01-24  23186500.0   6823100.0  170.254440  186.550003  136.473190
2018-01-25  15501700.0   5857100.0  167.215210  187.479996  138.711395
2018-01-26  49683900.0   6786300.0  167.606140  190.000000  139.604767
2018-01-29  52739600.0   8355200.0  164.136932  185.979996  138.019775
2018-01-30  52388100.0   9180500.0  163.169464  187.119995  136.819000
2018-01-31  40451900.0   9812800.0  163.618988  186.889999  132.746048
2018-02-01  47582600.0   6386800.0  163.961014  193.089996  134.503952

Attributes
Symbols            MCD       MTCH        NFLX       TWTR         WMT
Date
2012-12-31   72.104774        NaN   13.227143        NaN   57.868847
2013-01-02   73.666054        NaN   13.144286        NaN   58.725452
2013-01-03   74.082939        NaN   13.798572        NaN   58.352283
2013-01-04   73.445358        NaN   13.711429        NaN   58.572815
2013-01-07   74.311829        NaN   14.171429        NaN   58.013035
2013-01-08   74.336349        NaN   13.880000        NaN   58.174164
2013-01-09   74.230080        NaN   13.701428        NaN   58.157204
2013-01-10   74.712379        NaN   14.000000        NaN   57.979107
2013-01-11   74.982124        NaN   14.470000        NaN   58.208111
2013-01-14   74.818619        NaN   14.778571        NaN   57.928211
2013-01-15   74.802307        NaN   14.527143        NaN   58.504963
2013-01-16   74.467133        NaN   13.925714        NaN   58.700031
2013-01-17   75.006630        NaN   13.957143        NaN   58.394691
2013-01-18   75.415344        NaN   14.167143        NaN   58.691536
2013-01-22   75.979347        NaN   13.972857        NaN   59.013840
2013-01-23   76.412605        NaN   14.751429        NaN   58.937504
2013-01-24   76.273643        NaN   20.980000        NaN   59.191948
2013-01-25   76.608803        NaN   24.222857        NaN   58.521915
2013-01-28   77.131935        NaN   23.158571        NaN   58.818768
2013-01-29   77.589691        NaN   24.160000        NaN   59.276760
2013-01-30   77.385338        NaN   23.957144        NaN   59.158020
2013-01-31   77.892143        NaN   23.605715        NaN   59.327675
2013-02-01   78.431618        NaN   23.542856        NaN   59.785648
2013-02-04   77.328094        NaN   24.962856        NaN   59.056232
2013-02-05   77.581528        NaN   24.912857        NaN   60.023125
2013-02-06   77.712311        NaN   26.344286        NaN   60.481125
2013-02-07   77.352631        NaN   25.994286        NaN   60.413284
2013-02-08   77.548828        NaN   25.852858        NaN   60.625324
2013-02-11   77.794044        NaN   25.412857        NaN   60.557468
2013-02-12   77.736832        NaN   25.421429        NaN   60.557468
...                ...        ...         ...        ...         ...
2017-12-19  167.059158  29.342783  187.020004  25.080000   95.485588
2017-12-20  165.883713  30.161297  188.820007  25.200001   95.437256
2017-12-21  165.575378  30.370684  188.619995  25.049999   94.770393
2017-12-22  165.161072  30.370684  189.940002  24.459999   94.915375
2017-12-26  165.035828  30.151779  187.759995  24.260000   95.833519
2017-12-27  166.365433  30.066120  186.240005  24.230000   95.930145
2017-12-28  166.779739  29.828180  192.710007  24.309999   96.065453
2017-12-29  165.835510  29.799627  191.960007  24.010000   95.437256
2018-01-02  166.895370  30.818012  201.070007  24.510000   95.282616
2018-01-03  166.192001  30.465858  205.050003  24.450001   96.113777
2018-01-04  167.357834  30.580072  205.630005  23.990000   96.200760
2018-01-05  167.695084  30.265989  209.990005  24.320000   96.770966
2018-01-08  167.579422  30.542002  212.050003  24.590000   98.201317
2018-01-09  167.203690  30.684767  209.309998  24.170000   97.022247
2018-01-10  167.174774  30.399237  212.520004  24.250000   96.326385
2018-01-11  167.059158  30.741871  217.240005  24.350000   96.664642
2018-01-12  167.232590  31.065470  221.229996  25.410000   97.486137
2018-01-16  167.338547  29.885286  221.529999  24.660000   97.312187
2018-01-17  168.591095  30.028049  217.500000  24.559999   99.254753
2018-01-18  168.196091  30.075640  220.330002  24.040001  100.801079
2018-01-19  169.689484  31.027397  220.460007  23.660000  101.081345
2018-01-22  169.776184  32.198067  227.580002  23.320000  101.912491
2018-01-23  170.354294  32.911888  250.289993  22.750000  102.347404
2018-01-24  169.689484  31.912535  261.299988  22.370001  102.241089
2018-01-25  169.246277  32.355103  269.700012  22.160000  103.023911
2018-01-26  171.847687  33.054649  274.600006  24.270000  104.753868
2018-01-29  171.279221  33.454391  284.589996  25.180000  105.874954
2018-01-30  166.182358  33.054649  278.799988  25.620001  104.116013
2018-01-31  164.891312  33.254517  270.299988  25.809999  103.023911
2018-02-01  165.623550  33.559082  265.070007  27.139999  101.980148

[1282 rows x 48 columns]

In [17]:
def get(tickers, startdate, enddate):
    #definition
    def data(tickers):
        return web.DataReader(tickers, 'yahoo', start = startdate, end = enddate)
    stock = map(data, tickers)
    return pd.concat(stock, keys = tickers , names = ['Ticker', 'Date'])

stockdata2 = get(tickers, startdate, enddate)

                        High        Low       Open      Close       Volume  \
Ticker Date
AAPL   2012-12-31  76.485718  72.714287  72.932854  76.024284  164873100.0
       2013-01-02  79.285713  77.375717  79.117142  78.432854  140129500.0
       2013-01-03  78.524284  77.285713  78.268570  77.442856   88241300.0
       2013-01-04  76.947144  75.118568  76.709999  75.285713  148583400.0
       2013-01-07  75.614288  73.599998  74.571426  74.842857  121039100.0
       2013-01-08  75.984283  74.464287  75.601425  75.044289  114676800.0
       2013-01-09  75.001427  73.712860  74.642860  73.871429  101901100.0
       2013-01-10  75.531425  73.645714  75.507141  74.787140  150286500.0
       2013-01-11  75.045715  74.145714  74.428574  74.328575   87626700.0
       2013-01-14  72.500000  71.215714  71.811432  71.678574  183551900.0
       2013-01-15  71.284286  69.054283  71.185715  69.417145  219193100.0
       2013-01-16  72.777145  70.357140  70.662857  72.298569  172701200.0
       2013-01-17  72.964287  71.718575  72.901428  71.811432  113419600.0
       2013-01-18  71.745712  70.914284  71.217140  71.428574  118230700.0
       2013-01-22  72.554283  70.947144  72.080002  72.110001  115386600.0
       2013-01-23  73.570000  72.110001  72.687141  73.430000  215377400.0
       2013-01-24  66.532860  64.321426  65.714287  64.357140  365213100.0
       2013-01-25  65.175713  62.142857  64.527145  62.840000  302006600.0
       2013-01-28  64.744286  62.265713  62.547142  64.261429  196379400.0
       2013-01-29  65.742859  64.588570  65.500000  65.467140  142789500.0
       2013-01-30  66.085716  64.928574  65.285713  65.261429  104288800.0
       2013-01-31  65.611427  64.997147  65.282860  65.070000   79833600.0
       2013-02-01  65.639999  64.050003  65.587143  64.802856  134871100.0
       2013-02-04  65.134285  63.142857  64.844284  63.188572  119279300.0
       2013-02-05  65.677139  63.174286  63.435715  65.405716  143336900.0
       2013-02-06  66.642860  64.654289  65.209999  65.335716  148426600.0
       2013-02-07  67.142860  64.874283  66.178574  66.888573  176145200.0
       2013-02-08  68.401428  66.892860  67.714287  67.854286  158289600.0
       2013-02-11  69.277145  67.607140  68.071426  68.561432  129372600.0
       2013-02-12  68.911430  66.820000  68.501427  66.842857  152263300.0
...                      ...        ...        ...        ...          ...
TWTR   2017-12-19  25.490000  23.920000  24.610001  25.080000   46040800.0
       2017-12-20  25.440001  24.690001  25.440001  25.200001   20687700.0
       2017-12-21  25.559999  24.700001  25.059999  25.049999   19597700.0
       2017-12-22  25.270000  24.379999  25.030001  24.459999   16112900.0
       2017-12-26  24.570000  24.129999  24.260000  24.260000   10123100.0
       2017-12-27  24.540001  24.070000  24.260000  24.230000    9118100.0
       2017-12-28  24.600000  24.170000  24.250000  24.309999    9774700.0
       2017-12-29  24.330000  23.910000  24.270000  24.010000   10393700.0
       2018-01-02  24.570000  23.850000  24.070000  24.510000   15297200.0
       2018-01-03  24.680000  24.070000  24.559999  24.450001   12832600.0
       2018-01-04  24.590000  23.690001  24.500000  23.990000   17653500.0
       2018-01-05  24.570000  23.879999  24.070000  24.320000   14953200.0
       2018-01-08  24.780001  23.879999  24.370001  24.590000   17831300.0
       2018-01-09  24.709999  24.070000  24.629999  24.170000   12587100.0
       2018-01-10  24.420000  23.760000  24.000000  24.250000   10420700.0
       2018-01-11  24.370001  23.900000  24.299999  24.350000   11670400.0
       2018-01-12  25.850000  24.930000  24.940001  25.410000   37046100.0
       2018-01-16  25.709999  24.510000  25.580000  24.660000   32340700.0
       2018-01-17  24.950001  24.219999  24.840000  24.559999   17006600.0
       2018-01-18  24.520000  23.719999  24.500000  24.040001   21118500.0
       2018-01-19  24.219999  23.500000  24.120001  23.660000   17529700.0
       2018-01-22  23.500000  22.860001  23.170000  23.320000   23010600.0
       2018-01-23  23.170000  22.410000  22.510000  22.750000   35321200.0
       2018-01-24  23.049999  22.100000  22.840000  22.370001   23186500.0
       2018-01-25  22.680000  22.040001  22.500000  22.160000   15501700.0
       2018-01-26  24.350000  22.299999  22.389999  24.270000   49683900.0
       2018-01-29  25.549999  24.100000  24.400000  25.180000   52739600.0
       2018-01-30  26.400000  24.549999  24.830000  25.620001   52388100.0
       2018-01-31  26.650000  25.139999  25.610001  25.809999   40451900.0
       2018-02-01  27.330000  25.440001  25.520000  27.139999   47582600.0

                   Adj Close
Ticker Date
AAPL   2012-12-31  53.767834
       2013-01-02  55.471294
       2013-01-03  54.771122
       2013-01-04  53.245483
       2013-01-07  52.932274
       2013-01-08  53.074741
       2013-01-09  52.245243
       2013-01-10  52.892872
       2013-01-11  52.568550
       2013-01-14  50.694351
       2013-01-15  49.094975
       2013-01-16  51.132851
       2013-01-17  50.788319
       2013-01-18  50.517551
       2013-01-22  50.999481
       2013-01-23  51.933041
       2013-01-24  45.516312
       2013-01-25  44.443314
       2013-01-28  45.448616
       2013-01-29  46.301342
       2013-01-30  46.155865
       2013-01-31  46.020473
       2013-02-01  45.831532
       2013-02-04  44.689850
       2013-02-05  46.257904
       2013-02-06  46.208408
       2013-02-07  49.306507
       2013-02-08  50.018383
       2013-02-11  50.539654
       2013-02-12  49.272812
...                      ...
TWTR   2017-12-19  25.080000
       2017-12-20  25.200001
       2017-12-21  25.049999
       2017-12-22  24.459999
       2017-12-26  24.260000
       2017-12-27  24.230000
       2017-12-28  24.309999
       2017-12-29  24.010000
       2018-01-02  24.510000
       2018-01-03  24.450001
       2018-01-04  23.990000
       2018-01-05  24.320000
       2018-01-08  24.590000
       2018-01-09  24.170000
       2018-01-10  24.250000
       2018-01-11  24.350000
       2018-01-12  25.410000
       2018-01-16  24.660000
       2018-01-17  24.559999
       2018-01-18  24.040001
       2018-01-19  23.660000
       2018-01-22  23.320000
       2018-01-23  22.750000
       2018-01-24  22.370001
       2018-01-25  22.160000
       2018-01-26  24.270000
       2018-01-29  25.180000
       2018-01-30  25.620001
       2018-01-31  25.809999
       2018-02-01  27.139999

[9312 rows x 6 columns]

In [21]:
adj = stockdata2['Adj Close'].reset_index()

In [23]:
adj_end = adj[adj['Date'] == enddate]

In [24]:
adj_end

     Ticker       Date   Adj Close
1281   AAPL 2018-02-01  163.961014
2563    JNJ 2018-02-01  134.503952
3845    MCD 2018-02-01  165.623550
4399   MTCH 2018-02-01   33.559082
5681   NFLX 2018-02-01  265.070007
6963    WMT 2018-02-01  101.980148
8245     FB 2018-02-01  193.089996
9311   TWTR 2018-02-01   27.139999

In [31]:
mergeDF = pd.merge(df, adj_end, left_index=True, right_index=True)

In [35]:
df.index = df['Ticker']

In [36]:
df

       Acquisition Date Ticker  Quantity  Unit Cost  Cost Basis Start of Year
Ticker
AAPL         2013-02-07   AAPL       125      65.40     8175.00    2017-12-29
JNJ          2014-02-27    JNJ       100      81.90     8190.00    2017-12-29
MCD          2013-06-04    MCD       100      84.99     8499.00    2017-12-29
MTCH         2015-12-14   MTCH       600      13.63     8178.00    2017-12-29
NFLX         2016-01-14   NFLX        75     108.71     8153.25    2017-12-29
WMT          2013-08-14    WMT       125      68.30     8537.50    2017-12-29
FB           2013-12-13     FB       150      53.32     7998.00    2017-12-29
TWTR         2015-01-05   TWTR       225      36.38     8185.50    2017-12-29

In [38]:
adj_end.index = adj_end['Ticker']

In [39]:
adj_end

       Ticker       Date   Adj Close
Ticker
AAPL     AAPL 2018-02-01  163.961014
JNJ       JNJ 2018-02-01  134.503952
MCD       MCD 2018-02-01  165.623550
MTCH     MTCH 2018-02-01   33.559082
NFLX     NFLX 2018-02-01  265.070007
WMT       WMT 2018-02-01  101.980148
FB         FB 2018-02-01  193.089996
TWTR     TWTR 2018-02-01   27.139999

In [40]:
mergeDF = pd.merge(df, adj_end, left_index=True, right_index=True)

In [41]:
mergeDF

,Acquisition Date,Ticker_x,Quantity,Unit Cost,Cost Basis,Start of Year,Ticker_y,Date,Adj Close
Ticker,,,,,,,,,
AAPL,2013-02-07,AAPL,125,65.40,8175.00,2017-12-29,AAPL,2018-02-01,163.961014
JNJ,2014-02-27,JNJ,100,81.90,8190.00,2017-12-29,JNJ,2018-02-01,134.503952
MCD,2013-06-04,MCD,100,84.99,8499.00,2017-12-29,MCD,2018-02-01,165.623550
MTCH,2015-12-14,MTCH,600,13.63,8178.00,2017-12-29,MTCH,2018-02-01,33.559082
NFLX,2016-01-14,NFLX,75,108.71,8153.25,2017-12-29,NFLX,2018-02-01,265.070007
WMT,2013-08-14,WMT,125,68.30,8537.50,2017-12-29,WMT,2018-02-01,101.980148
FB,2013-12-13,FB,150,53.32,7998.00,2017-12-29,FB,2018-02-01,193.089996
TWTR,2015-01-05,TWTR,225,36.38,8185.50,2017-12-29,TWTR,2018-02-01,27.139999

In [45]:

del mergeDF['Tickey_y']

KeyError: 'Tickey_y'

In [47]:
del mergeDF['Ticker_y']
mergeDF

,Acquisition Date,Quantity,Unit Cost,Cost Basis,Start of Year,Date,Adj Close
Ticker,,,,,,,
AAPL,2013-02-07,125,65.40,8175.00,2017-12-29,2018-02-01,163.961014
JNJ,2014-02-27,100,81.90,8190.00,2017-12-29,2018-02-01,134.503952
MCD,2013-06-04,100,84.99,8499.00,2017-12-29,2018-02-01,165.623550
MTCH,2015-12-14,600,13.63,8178.00,2017-12-29,2018-02-01,33.559082
NFLX,2016-01-14,75,108.71,8153.25,2017-12-29,2018-02-01,265.070007
WMT,2013-08-14,125,68.30,8537.50,2017-12-29,2018-02-01,101.980148
FB,2013-12-13,150,53.32,7998.00,2017-12-29,2018-02-01,193.089996
TWTR,2015-01-05,225,36.38,8185.50,2017-12-29,2018-02-01,27.139999